@use "../../theme/variables.scss";
@use "../../theme/mixins.scss";

.arm-scroll-to-end-listener-status {
  @include mixins.flex-centre-content;

  width: 100%;
  padding: variables.$spacing-medium;
}

.arm-scroll-to-end-listener-listener {
  width: 100%;
}
