@use '../../theme/variables.scss';
@use '../../theme/mixins.scss';

$arm-switch-input-width: 50px !default;
$arm-switch-input-height: 30px !default;
$arm-switch-input-handle-padding: variables.$spacing-xxsmall !default;
$arm-switch-input-handle: calc(#{$arm-switch-input-height} - #{$arm-switch-input-handle-padding} * 2);

.arm-switch-input {
  &[data-icon-style='on-handle'] {
    .arm-switch-input-inner {
      .arm-switch-input-checked-icon {
        left: variables.$spacing-xxsmall;
      }
    }
  }

  &[data-checked='true'] {
    .arm-switch-input-inner::after,
    &[data-icon-style='on-handle'] .arm-switch-input-checked-icon,
    &[data-icon-style='on-handle'] .arm-switch-input-unchecked-icon {
      transform: translateX(
        calc(#{$arm-switch-input-width} - #{$arm-switch-input-handle} - #{$arm-switch-input-handle-padding} * 2)
      );
    }

    .arm-switch-input-checked-icon {
      opacity: 1;
    }

    .arm-switch-input-unchecked-icon {
      opacity: 0;
    }
  }
}

.arm-switch-input-inner {
  position: relative;
  cursor: pointer;
  height: $arm-switch-input-height;
  width: $arm-switch-input-width;
  box-shadow: variables.$shadow-inner-xsmall;

  &::after {
    @include mixins.init-pseudo;
    @include mixins.square($arm-switch-input-handle);

    top: $arm-switch-input-handle-padding;
    left: $arm-switch-input-handle-padding;
    position: absolute;
    pointer-events: none;
    box-shadow: variables.$shadow-small;
  }
}

.arm-switch-input-checkbox {
  @include mixins.fill;

  appearance: none;
  appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.arm-switch-input-unchecked-icon,
.arm-switch-input-checked-icon {
  @include mixins.square($arm-switch-input-handle);
  @include mixins.flex-centre-content;

  position: absolute;
  top: $arm-switch-input-handle-padding;
  z-index: 2;
  pointer-events: none;
}

.arm-switch-input-checked-icon {
  right: $arm-switch-input-handle-padding;
  opacity: 0;
}

.arm-switch-input-unchecked-icon {
  left: $arm-switch-input-handle-padding;
}
