$arm-switch-input-width: 50px !default;
$arm-switch-input-height: 30px !default;
$arm-switch-input-handle-padding: var(--arm-spacing-xxsmall);
$arm-switch-input-handle: calc(
  #{$arm-switch-input-height} - #{$arm-switch-input-handle-padding} * 2
);

.arm-switch-input {
  &[data-icon-style="on-handle"] {
    .arm-switch-input-inner {
      .arm-switch-input-checked-icon {
        left: var(--arm-spacing-xxsmall);
      }
    }
  }

  &[data-checked="true"] {
    .arm-switch-input-inner::after,
    &[data-icon-style="on-handle"] .arm-switch-input-checked-icon,
    &[data-icon-style="on-handle"] .arm-switch-input-unchecked-icon {
      transform: translateX(
        calc(
          #{$arm-switch-input-width} - #{$arm-switch-input-handle} - #{$arm-switch-input-handle-padding} *
            2
        )
      );
    }

    .arm-switch-input-checkbox {
      background-color: var(--arm-color-grey-1);

      &::before {
        display: block;
        content: "";
      }
    }

    .arm-switch-input-checked-icon {
      opacity: 1;
    }

    .arm-switch-input-unchecked-icon {
      opacity: 0;
    }
  }
}

.arm-switch-input-inner {
  position: relative;
  cursor: pointer;
  height: $arm-switch-input-height;
  width: $arm-switch-input-width;
  box-shadow: var(--arm-shadow-xsmall);
  transition: background-color 0.15s;
  border-radius: 30px;

  &::after {
    display: block;
    content: "";
    width: $arm-switch-input-handle;
    height: $arm-switch-input-handle;
    transition: transform 0.15s;

    top: $arm-switch-input-handle-padding;
    left: $arm-switch-input-handle-padding;
    position: absolute;
    pointer-events: none;
    box-shadow: var(--arm-shadow-inner-small);
  }
}

.arm-switch-input-checkbox {
  height: 100%;
  width: 100%;

  appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 30px;
  outline: none;
  background-color: var(--arm-color-grey-5);
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.arm-switch-input-unchecked-icon,
.arm-switch-input-checked-icon {
  width: $arm-switch-input-handle;
  height: $arm-switch-input-handle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s, transform 0.15s;
  font-size: var(--arm-font-size-xxlarge);
  color: var(--arm-color-white);

  position: absolute;
  top: $arm-switch-input-handle-padding;
  z-index: 2;
  pointer-events: none;
}

.arm-switch-input-checked-icon {
  right: $arm-switch-input-handle-padding;
  opacity: 0;
}

.arm-switch-input-unchecked-icon {
  color: var(--arm-color-white);
  left: $arm-switch-input-handle-padding;
}
