$arm-time-input-width: 47px !default;

.arm-time-input {
  max-width: max-content;

  .arm-input {
    margin-right: 0;

    input.arm-input-base-input {
      width: $arm-time-input-width;
    }
  }

  p.arm-time-input-between-inputs {
    color: $gray-light;
    margin-right: 0;
  }
}
