.arm-input.arm-native-select-input {
  .arm-native-select-input-inner {
    flex-grow: 1;
    position: relative;

    .arm-icon.arm-native-select-input-overlay-icon {
      position: absolute;
      right: $spacing-xsmall;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.6rem;
    }

    select {
      @include fill;
      height: $input-height;
      cursor: pointer;
      padding: $spacing-xsmall 0;

      -webkit-appearance: none;
      background-color: transparent;
      resize: none;
      font-family: inherit;
      outline: none;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}
