.arm-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include space-between-children-horizontal($spacing-xsmall);
}
