@use "../../theme/variables.scss";
@use "../../theme/mixins.scss";

.arm-button,
.arm-button-minimal {
  @include mixins.space-between-children-horizontal(variables.$spacing-xsmall);

  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0;

  &.arm-button-minimal {
    color: inherit;
  }
}