.arm-checkbox-input-checkbox {
  background-color: $white;
  border: $line-light;
  border-radius: $border-radius-small;
  color: $white;
}

.arm-checkbox-input {
  &[data-checked='true'] {
    .arm-checkbox-input-checkbox {
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
}
