.arm-input.arm-checkbox-input {
  display: flex;
  @include space-between-children-horizontal($spacing-xsmall);
  align-items: center;

  label {
    display: flex;
    @include space-between-children-horizontal($spacing-xsmall);
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  &[data-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.arm-checkbox-input-checkbox {
  @include square(1.3rem);
  flex-shrink: 0;
  cursor: pointer;
  position: relative;

  .arm-icon {
    @include absolute-fill;
    @include flex-centre-content;
    transition: opacity $transition-quick;
    pointer-events: none;
    font-size: 0.75rem;
  }

  &[data-checked='true'] {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: white;
  }
}

.arm-icon.arm-checkbox-input-checked-icon {
  opacity: 0;
}

.arm-checkbox-input-checkbox-input {
  @include fill;
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  padding: $spacing-xsmall;
  height: $input-height;

  &:checked ~ .arm-icon.arm-checkbox-input-checked-icon {
    opacity: 1;
  }

  &:checked ~ .arm-icon.arm-checkbox-input-unchecked-icon {
    opacity: 0;
  }
}
