@use "../../theme/variables.scss";

.arm-checkbox-input-checkbox {
  background-color: variables.$white;
  border: variables.$line-light;
  border-radius: variables.$border-radius-small;
  color: variables.$white;
}

.arm-checkbox-input {
  &[data-checked='true'] {
    .arm-checkbox-input-checkbox {
      background-color: variables.$brand-primary;
      border-color: variables.$brand-primary;
    }
  }
}
