.arm-checkbox-input-checkbox {
  transition-duration: $transition-quick;
  transition-property: background-color, border-color;
}

.arm-icon.arm-checkbox-input-checked-icon {
  transition: opacity $transition-quick;
}
