.arm-rating {
  --arm-rating-part-size: 1.8rem;
}

.arm-rating-input-inner {
  display: flex;
  align-items: center;
  width: max-content;
  gap: var(--arm-spacing-xsmall);
}

.arm-rating-input-label {
  display: inline-block;
  margin-bottom: var(--arm-spacing-xsmall);
  margin-left: var(--arm-spacing-xxxsmall);
}

.arm-rating-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--arm-rating-part-size);
  height: var(--arm-rating-part-size);
  position: relative;
}

.arm-rating-part-filled {
  position: absolute;
  inset: 0;
  width: var(--rating-amount, 1);
  overflow: hidden;
  opacity: 0;
}

.arm-rating-part-empty {
  color: var(--arm-color-grey-200);
}

.arm-rating-part[data-part='true'] .arm-rating-part-filled,
.arm-rating-part[data-filled='true'] .arm-rating-part-filled {
  opacity: 1;
}

.arm-rating-part[data-filled='true'] .arm-rating-part-empty {
  opacity: 0;
}

.arm-rating-part-icon-wrapper {
  position: relative;
}

.arm-rating-part-icon {
  font-size: var(--arm-rating-part-size);
}

.arm-rating-part-buttons,
.arm-rating-part-radios {
  position: absolute;
  inset: 0;
  display: flex;
}

.arm-rating-parts {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0;
  gap: var(--arm-spacing-xxsmall);
}

.arm-rating-range {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
}

.arm-rating-part-radio-wrapper {
  flex: 1;
  position: relative;
}

.arm-rating-part-radio {
  position: absolute;
  inset: 0;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

.arm-rating-button {
  display: block;
  background-color: transparent;
  padding: 0;
  flex-grow: 1;
}

/* SIZES */

.arm-rating[data-size='small'] {
  --arm-rating-part-size: 1.2rem;
}

.arm-rating[data-size='large'] {
  --arm-rating-part-size: 2.4rem;
}
