.arm-expandable {
  &[data-direction='vertical'] {
    width: initial;
    &[data-is-open='false'] {
      height: 0;
    }
  }

  &[data-direction='horizontal'] {
    height: initial;
    &[data-is-open='false'] {
      width: 0;
    }
  }
}
