/** STORY BOOK SPECIFIC GENERAL STYLES **/

// import variables
@import '../../dist/imports.scss';
@import '../../dist/animations.scss';

$brand-primary: green;

// import chosen icon font
@import '../../dist/icomoon.scss';
@import '../../dist/linearicons.scss';

// import base component styles
@import '../../dist/basic.scss';

// import styled component styles
@import '../../dist/prototyping.scss';

// import animated component styles
@import '../../dist/animated.scss';

@import './theme/fonts';

html {
  font-family: sans-serif;
  height: 100%;

  body {
    height: 100%;

    #root {
      height: 100%;

      #host {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .story-wrapper {
          position: relative;
          width: max-content;

          p.bound-value {
            position: absolute;
            left: 0;
            bottom: -$spacing-xlarge * 2;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.story-scroll-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  > * {
    margin: 0 auto;
  }
}

.story-wrapper {
  .arm-image {
    img {
      height: 200px;
      width: 200px;
    }
  }
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  > .arm-button {
    margin-bottom: $spacing-small;
  }
}

.story-cols {
  display: flex;
  align-items: center;

  @include space-between-children-horizontal($spacing-xsmall);
}
