/** STORY BOOK SPECIFIC GENERAL STYLES **/

// import variables
@import '../../dist/imports.scss';
@import '../../dist/animations.scss';

$brand-primary: green;

// import chosen icon font
@import '../../dist/icomoon.scss';
@import '../../dist/linearicons.scss';

// import base component styles
@import '../../dist/basic.scss';
// import styled component styles
@import '../../dist/prototyping.scss';

@import './theme/fonts';

html {
  font-family: sans-serif;
  height: 100%;

  body {
    height: 100%;

    #root {
      height: 100%;

      #host {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .story-wrapper {
          width: max-content;
        }
      }
    }
  }
}
