/** STORY BOOK SPECIFIC GENERAL STYLES **/

// import variables
@import '../../dist/imports.scss';
@import '../../dist/animations.scss';

$brand-primary: green;

// import chosen icon font
@import '../../dist/icomoon.scss';
@import '../../dist/linearicons.scss';

// import base component styles
@import '../../dist/basic.scss';
// import styled component styles
@import '../../dist/prototyping.scss';

@import './theme/fonts';

html {
  font-family: sans-serif;
  height: 100%;

  body {
    height: 100%;

    #root {
      height: 100%;

      #host {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        // uncomment for anything that needs scrolling to test
        // height: 200vh;

        .story-wrapper {
          position: relative;
          width: max-content;

          p.bound-value {
            position: absolute;
            left: 0;
            bottom: -$spacing-xlarge * 2;
          }
        }
      }
    }
  }
}

.arm-dropdown-items {
  &:focus {
    // border: 1px solid blue;
  }
}
