.arm-input-inner {
  @include space-between-children-horizontal($spacing-xsmall);

  width: 100%;
  padding: 0 $spacing-xsmall;
  display: flex;
  align-items: center;
}

.arm-input-wrapper {
  &[data-disabled='true'] {
    pointer-events: none;
    user-select: none;
  }

  .arm-input-wrapper {
    width: initial;
    flex: 1;

    .arm-input-inner {
      width: 100%;

      input {
        background-color: transparent;
      }
    }
  }
}

.arm-input-wrapper-below,
.arm-input-wrapper-above {
  width: 100%;

  .arm-auto-resizer-content {
    width: 100%;
  }
}
