$dialog-width: 500px !default;
$dialog-height: calc(100vh - #{$spacing-medium * 2}) !default;

.arm-dialog {
  width: 100%;
  max-width: $dialog-width;
  max-height: $dialog-height;
  overflow: auto;
  position: relative;
}

.arm-modal.arm-dialog {
  padding: 0;
}

.arm-dialog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .arm-dialog-close-button {
    position: initial;
  }

  @include space-between-children-horizontal($spacing-xsmall);
}

.arm-dialog-title {
  flex-grow: 1;
}

.arm-confirmation-dialog-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: $spacing-xsmall;

  .arm-button {
    margin-left: $spacing-xsmall;
  }
}

.arm-dialog-close-button {
  position: absolute;
  top: $spacing-small;
  right: $spacing-small;
}
