$arm-dropdown-min-width: 50px !default;
$arm-dropdown-height: 180px !default;

.arm-dropdown {
  width: max-content;
  user-select: none;
}

.arm-modal.arm-dropdown-content {
  position: fixed;
  top: var(--arm-dropdown-top);
  left: var(--arm-dropdown-left);
  max-width: 100vw;
  user-select: none;
  z-index: 2;
  padding: 0;

  .arm-auto-resizer {
    width: 100%;

    .arm-auto-resizer-content {
      width: 100%;
    }
  }

  &[data-scrolling='true'] {
    .arm-dropdown-content-inner {
      max-height: min(#{$arm-dropdown-height}, 100vh);
    }
  }

  &[data-stretch='true'] {
    min-width: max(#{$arm-dropdown-min-width}, var(--arm-dropdown-width));
  }
}

.arm-dropdown-content-inner {
  overflow-y: auto;
  overflow-x: hidden;
  padding: $spacing-xsmall;
}

@include screen-phone {
  .arm-dropdown-content {
    left: $spacing-xsmall;
    width: calc(100vw - #{$spacing-xsmall * 2});
  }
}
