$arm-dropdown-top: var(--arm-dropdown-top) !default;
$arm-dropdown-left: var(--arm-dropdown-left) !default;
$arm-dropdown-width: var(--arm-dropdown-width) !default;
$arm-dropdown-min-width: 50px !default;

$arm-dropdown-height: 240px;

.arm-dropdown {
  width: max-content;
  user-select: none;
}

.arm-dropdown-content {
  position: fixed;
  top: $arm-dropdown-top;
  left: $arm-dropdown-left;
  background-color: $white;
  width: $arm-dropdown-width;
  min-width: $arm-dropdown-min-width;
  pointer-events: none;
  transition: max-height $transition-medium linear, opacity $transition-quick;
  overflow: auto;
  opacity: 0;
  border-radius: $border-radius-small;
  // max-height: 0;
  max-height: $arm-dropdown-height;
  user-select: none;

  &[data-is-open='true'] {
    // max-height: $arm-dropdown-height;
    pointer-events: all;
    opacity: 1;
    transition: max-height $transition-quick linear;
  }
}

@include screen-phone {
  .arm-dropdown-content {
    left: $spacing-xsmall;
    width: calc(100vw - #{$spacing-xsmall * 2});
  }
}
