@use "../../theme/variables.scss";
@use "../../theme/mixins.scss";

.arm-group-inner {
  @include mixins.space-between-children-horizontal(variables.$spacing-xsmall);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
