.arm-radio-input-list-group-title {
  padding: $spacing-small 0 $spacing-xsmall 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $gray-medium;
}

.arm-radio-input-list {
  &[data-direction='vertical'] {
    @include space-between-children-vertical($spacing-xxsmall);
  }
  &[data-direction='horizontal'] {
    @include space-between-children-horizontal($spacing-xxsmall);
  }
}
