.arm-input.arm-input-base {
  width: 100%;
  max-width: 240px;

  input.arm-input-base-input {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
