.arm-input.arm-input-base {
  input.arm-input-base-input {
    flex-grow: 1;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    padding: $spacing-xsmall;
    height: $input-height;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
