.arm-tag-input-input {
  flex-grow: 1;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  padding: $spacing-xsmall 0;
  height: $input-height;
}

.arm-input-inner {
  cursor: text;
}

.arm-tag-input-inner {
  overflow-x: auto;
  flex-grow: 1;
  @include flex-centre-content;
  @include space-between-children-horizontal($spacing-xxsmall);
}

.arm-input-wrapper-above .arm-auto-resizer-content,
.arm-input-wrapper-below .arm-auto-resizer-content {
  overflow-y: auto;
  display: flex;
  align-items: center;
  @include space-between-children-horizontal($spacing-xxsmall);
  flex-wrap: wrap;

  .arm-tag {
    margin-top: $spacing-xxsmall * 0.5;
    margin-bottom: $spacing-xxsmall * 0.5;
  }
}
