.arm-tag-input {
  .arm-tag {
    animation: expand-in-width-medium $transition-quick linear;

    > * {
      animation: fade-in $transition-quick;
    }
  }

  .arm-input-wrapper-above,
  .arm-input-wrapper-below {
    transition: max-height $transition-quick, padding $transition-quick;
    max-height: 0;
  }

  &[data-has-tags='true'] {
    .arm-input-wrapper-above,
    .arm-input-wrapper-below {
      padding: $spacing-xsmall;
      max-height: 90px;
    }
  }
}
