.arm-tag-input {
  &[data-has-tags='true'] {
    .arm-input-wrapper-above,
    .arm-input-wrapper-below {
      padding: $spacing-xsmall;
      max-height: 90px;
    }
  }
}

.arm-input-wrapper-above,
.arm-input-wrapper-below {
  max-height: 0;
}
