.arm-image {
  position: relative;

  .arm-status {
    padding: $spacing-small;
    width: 100%;
    height: 100%;
    border: $line-light;
    @include absolute-fill;
    @include flex-centre-content;
  }

  img {
    width: 100%;
  }
}

.arm-image-inner {
  &[data-loading='true'],
  &[data-error='true'] {
    min-height: $spacing-large;
    min-width: $spacing-large;
  }
}
