@use "../../theme/variables.scss";
@use "../../theme/mixins.scss";

.arm-image {
  position: relative;

  .arm-status {
    @include mixins.absolute-fill;
    @include mixins.flex-centre-content;

    padding: variables.$spacing-small;
    width: 100%;
    height: 100%;
    border: variables.$line-light;
  }

  img {
    width: 100%;
  }
}

.arm-image-inner {
  &[data-loading="true"],
  &[data-error="true"] {
    min-height: variables.$spacing-large;
    min-width: variables.$spacing-large;
  }
}
