.arm-input.arm-select-input {
  cursor: pointer;

  .arm-select-input-inner {
    flex-grow: 1;
    position: relative;

    .arm-select-input-content {
      height: $input-height;
      display: flex;
      align-items: center;

      p.placeholder {
        color: $gray-light;
      }

      p {
        cursor: pointer;
        font-size: 0.8rem;
      }
    }

    .arm-icon.arm-select-input-overlay-icon {
      position: absolute;
      right: $spacing-xsmall;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.6rem;
    }
  }
}
