.arm-dropdown-items {
  &:focus {
    border: 0;
    outline: none;
  }
}

.arm-modal.arm-dropdown-items-content {
  padding: $spacing-xxsmall 0;
}

.arm-dropdown-items-content {
  ul {
    padding: 0;
    margin: 0;
  }
}

.arm-dropdown-item {
  @include space-between-children-horizontal($spacing-xsmall);

  cursor: pointer;
  display: flex;
  align-items: center;
}
