.arm-dropdown-items {
  &:focus {
    border: none;
    outline: none;
  }
}

.arm-dropdown-items-content {
  ul {
    padding: 0;
    margin: 0;
  }
}

.arm-dropdown-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $spacing-xsmall;
}
