.arm-range-input {
  .arm-range-input-track {
    .arm-range-input-track-inner {
      border-radius: $range-input-track-thickness * 0.5;
    }

    .arm-range-input-handle {
      background-color: $white;
      box-shadow: $shadow-small;
      box-shadow: $shadow-small;
    }
  }
}
