$arm-range-input-track-thickness: 6px !default;

.arm-range-input-handle {
  @include circle(0.7rem);

  position: absolute;
  left: var(--arm-range-input-percent);
  transform: translate(-50%, -50%);
  top: 50%;
  pointer-events: none;

  .arm-icon {
    @include absolute-centre-self;
  }
}

.arm-range-input {
  @include space-between-children-horizontal($spacing-xsmall);

  width: $input-width;
  display: flex;
  align-items: center;

  &[data-disabled='true'] {
    opacity: 0.5;
  }
}

.arm-range-input-track {
  position: relative;
  flex-grow: 1;
  height: $arm-input-height;
}

.arm-range-input-input {
  @include absolute-fill;

  opacity: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @include range-input-thumb {
    opacity: 0;
    background-color: transparent;
    appearance: none;
  }

  @include range-input-track {
    opacity: 0;
    background-color: transparent;
    appearance: none;
  }

  &:active {
    ~ .arm-range-input-handle {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.arm-range-input-track-inner {
  height: $arm-range-input-track-thickness;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: $gray-light;
  overflow: hidden;

  &::after {
    @include init-pseudo;

    position: absolute;
    left: 0;
    top: 0;
    width: var(--arm-range-input-percent);
    height: 100%;
    background-color: $brand-primary;
  }
}
