.arm-radio-input-list-group-title {
  padding: var(--arm-spacing-small) 0 var(--arm-spacing-xsmall) 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--arm-color-gray-medium);
}

// space-between-children-vertical
.arm-radio-input-list[data-direction="vertical"] > *:not(:last-child) {
  margin-bottom: var(--arm-spacing-small);
}

.arm-radio-input-list[data-direction="horizontal"] {
  display: flex;
  flex-direction: row;
}
// space-between-children-horizontal
.arm-radio-input-list[data-direction="horizontal"] > *:not(:last-child) {
  margin-right: var(--arm-spacing-small);
}
