.arm-icon-button {
  @include circle(2rem);

  justify-content: center;

  > * {
    margin: initial;
  }

  .arm-icon,
  .arm-status .arm-spinner .arm-icon,
  .arm-status .arm-status-error {
    font-size: 1rem;
  }

  &[data-icon-only='true'] {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
    width: initial;
    height: initial;
    padding: initial;
  }
}
