.arm-icon-button {
  justify-content: center;

  &:not(.arm-button-minimal) {
    @include circle(2rem);
  }

  > * {
    margin: initial;
  }

  .arm-icon,
  .arm-status .arm-spinner .arm-icon,
  .arm-status .arm-status-error {
    font-size: 1rem;
  }
}
