.arm-listbox-wrapper {
  width: 100%;
  max-width: $input-width;
}

.arm-input.arm-listbox {
  cursor: pointer;
}

.arm-listbox-inner {
  flex-grow: 1;
  position: relative;
}

.arm-icon.arm-listbox-overlay-icon {
  position: absolute;
  right: $spacing-xsmall;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.6rem;
}

.arm-listbox-content {
  height: $input-height;
  display: flex;
  align-items: center;
  cursor: pointer;

  .placeholder {
    color: $gray-light;
  }

  p {
    font-size: 0.8rem;
  }
}
