.arm-checkbox-input-list {
  &[data-direction="horizontal"] {
    display: flex;
    align-items: flex-start;
  }
  &[data-direction="vertical"] {
    .arm-input {
      margin-bottom: var(--arm-spacing-xxsmall);
    }
  }
}
