.arm-status {
  max-width: 0;
  opacity: 0;
  transition: max-width $transition-quick, opacity $transition-quick;

  &[data-active='true'] {
    max-width: 2rem;
    opacity: 1;
  }

  .arm-status-error {
    color: $color-negative;
  }

  .arm-status-spinner,
  .arm-status-error {
    display: none;
  }

  &[data-pending='true'] {
    .arm-status-spinner {
      display: block;
    }
  }

  &[data-error='true'] {
    .arm-status-error {
      display: block;
    }
  }

  &[data-active='false'] {
    display: none;
  }
}
