.arm-tab-select {
  display: flex;
  align-items: center;

  &[data-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }

  @include space-between-children-horizontal($spacing-xsmall);
}
