$arm-header-height: 60px !default;

.arm-header {
  @include flex-space-between-content;
  @include space-between-children-horizontal($spacing-xsmall);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: $arm-header-height;
  padding: $spacing-small;
  z-index: 2;
  user-select: none;
}
