@keyframes animate-in-validation-errors {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}

.arm-validation-errors {
  padding-bottom: $spacing-small;
  animation: animate-in-validation-errors $transition-slow forwards linear;

  .arm-error-message {
    animation: slide-in-right-small $transition-quick;
  }
}
