.arm-validation-errors {
  padding-bottom: $spacing-small;
  animation: expand-in-height-medium $transition-slow forwards linear;

  .arm-error-message {
    animation: slide-in-right-small $transition-quick;
  }
}
