.arm-error-message {
  display: flex;
  gap: var(--arm-spacing-xxsmall);
  align-items: center;
  color: var(--arm-color-negative);
  margin-top: var(--arm-spacing-xxsmall);
}

.arm-error-icon {
  color: var(--arm-color-negative);
}
