.arm-single-select-wrapper {
  width: 100%;
  max-width: var(--arm-form-input-max-width);
}

.arm-single-select__menu {
  margin-top: calc(var(--arm-spacing-small) - var(--arm-spacing-xsmall));
  border: var(--arm-form-border-thickness) solid var(--arm-color-grey-4);
  border-radius: var(--arm-form-border-radius);
  background-color: var(--arm-color-white);
}

.arm-single-select__menu-list {
  background-color: inherit;
}

.arm-single-select__option {
  padding-left: var(--arm-spacing-small);
  margin: calc(var(--arm-spacing-small) - var(--arm-spacing-xsmall)) 0;
}

.arm-single-select__option--is-focused {
  background-color: var(--arm-color-grey-5);
}

.arm-single-select__option--is-selected {
  background-color: var(--arm-color-grey-4);
}

.arm-single-select__option--is-disabled {
  color: var(--arm-color-grey-3);
}

.arm-single-select__group:not(:last-child) {
  border-bottom: var(--arm-form-border-thickness) solid var(--arm-color-grey-4);
}

.arm-single-select__group-heading {
  padding-left: calc(var(--arm-spacing-xxsmall) - var(--arm-spacing-xxxsmall));
  font-weight: 600;
}

.arm-single-select__input-container {
  position: absolute;
}

.arm-single-select-input {
}

.arm-single-select__loading-indicator {
}

.arm-single-select__loading-indicator-outer {
}

.arm-single-select__loading-indicator-inner {
}

.arm-single-select__loading-message {
  border: 1px solid red;
}

.arm-single-select__no-options-message {
  padding-left: var(--arm-spacing-small);
  margin: calc(var(--arm-spacing-small) - var(--arm-spacing-xsmall)) 0;
}

.arm-single-select__menu-notice {
}

.arm-single-select__menu-notice--no-options {
  padding-left: var(--arm-spacing-small);
  margin: calc(var(--arm-spacing-small) - var(--arm-spacing-xsmall)) 0;
}

.arm-single-select__menu-notice--loading {
}

.arm-single-select__control {
  display: flex;
  border: var(--arm-form-border-thickness) solid var(--arm-color-grey-3);
  border-radius: var(--arm-form-border-radius);
  background-color: var(--arm-color-white);
  height: var(--arm-input-height);
}

.arm-single-select__control--is-focused {
  border: var(--arm-form-border-thickness) solid var(--arm-color-grey-1);
  border-radius: var(--arm-form-border-radius);
}

.arm-single-select-wrapper [data-error='true'] {
  font-size: var(--arm-font-size-xsmall);
}

.arm-single-select__value-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--arm-spacing-small);
}

.arm-single-select__placeholder {
  color: var(--arm-color-grey-4);
}

.arm-single-select__indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--arm-spacing-small);
  font-size: var(--arm-font-size-xsmall);
  cursor: pointer;
  color: var(--arm-color-grey-1);
  border: 1px solid red;
}

.arm-single-select__indicator-separator {
  background-color: var(--arm-color-grey-1);
  margin-right: var(--arm-spacing-small);
}

.arm-single-select-validation-error-display {
}
