@use "../../theme/variables.scss";

.arm-input.arm-date-time-input {
  max-width: variables.$arm-input-width-large;

  .arm-calendar-input {
    flex-grow: 1;
    margin-right: 0;

    .arm-dropdown {
      width: auto;
    }
  }
}
