.arm-input.arm-date-time-input {
  max-width: $input-width-large;

  .arm-calendar-input {
    flex-basis: 70%;
    margin-right: 0;

    .arm-dropdown {
      width: auto;
    }
  }
  .arm-time-input {
    width: auto;
    flex-basis: 30%;
  }
}
