@use '../../theme/variables.scss';
@use '../../theme/mixins.scss';

$arm-progress-bar-thickness: 0.5rem !default;
$arm-progress-bar-with-label-thickness: 1rem !default;

.arm-progress-bar-progress {
  @include mixins.absolute-fill;

  overflow: hidden;

  &::after {
    @include mixins.init-pseudo;
    @include mixins.fill;

    background-color: var(--arm-progress-bar-color, variables.$brand-primary);
  }
}

.arm-progress-bar {
  background-color: variables.$gray-light;
  position: relative;

  &[data-direction='up'],
  &[data-direction='down'] {
    width: $arm-progress-bar-thickness;
    height: 100%;
  }

  &[data-direction='down'] {
    .arm-progress-bar-progress::after {
      transform: translateY(calc(var(--arm-progress-bar-progress) - 100%));
    }
  }

  &[data-direction='up'] {
    .arm-progress-bar-progress::after {
      transform: translateY(calc(100% - var(--arm-progress-bar-progress)));
    }
  }

  &[data-direction='left'],
  &[data-direction='right'] {
    height: $arm-progress-bar-thickness;
    width: 100%;
  }

  &[data-direction='right'] {
    .arm-progress-bar-progress::after {
      transform: translateX(calc(var(--arm-progress-bar-progress) - 100%));
    }
  }

  &[data-direction='left'] {
    .arm-progress-bar-progress::after {
      transform: translateX(calc(100% - var(--arm-progress-bar-progress)));
    }
  }

  &[data-has-label='true'] {
    &[data-direction='up'],
    &[data-direction='down'] {
      width: $arm-progress-bar-with-label-thickness;
    }

    &[data-direction='left'],
    &[data-direction='right'] {
      height: $arm-progress-bar-with-label-thickness;
    }
  }
}

.arm-progress-bar-label {
  color: variables.$white;

  &[data-variant='centre'] {
    @include mixins.absolute-fill;
    @include mixins.flex-centre-content;

    text-align: center;
    font-size: min(#{$arm-progress-bar-with-label-thickness * 0.7}, 1rem);
  }

  &[data-variant='centre-progress'] {
    @include mixins.flex-centre-content;

    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--arm-progress-bar-progress);
    overflow: hidden;
    font-size: min(#{$arm-progress-bar-with-label-thickness * 0.7}, 1rem);
  }
}
