.arm-tooltip {
  background-color: transparent;
  box-shadow: none;
  padding: 0;

  .arm-tooltip-inner {
    border-radius: $border-radius-small;
    filter: drop-shadow($shadow-xsmall);
    display: flex;
    align-items: center;
  }

  &[data-position='left'],
  &[data-position='above'] {
    .arm-tooltip-inner {
      &::after {
        @include init-pseudo;

        background-color: transparent;
        width: 0;
        height: 0;
      }
    }
  }

  &[data-position='below'],
  &[data-position='right'] {
    .arm-tooltip-inner {
      &::before {
        @include init-pseudo;

        background-color: transparent;
        width: 0;
        height: 0;
      }
    }
  }

  &[data-position='above'],
  &[data-position='below'] {
    .arm-tooltip-inner {
      flex-direction: column;
    }
  }

  &[data-position='above'] {
    .arm-tooltip-inner {
      padding-bottom: $spacing-xsmall;

      &::after {
        border-left: $spacing-xsmall solid transparent;
        border-right: $spacing-xsmall solid transparent;
        border-top: $spacing-xsmall solid $white;
      }
    }
  }

  &[data-position='below'] {
    .arm-tooltip-inner {
      padding-top: $spacing-xsmall;

      &::before {
        border-left: $spacing-xsmall solid transparent;
        border-right: $spacing-xsmall solid transparent;
        border-bottom: $spacing-xsmall solid $white;
      }
    }
  }

  &[data-position='left'] {
    .arm-tooltip-inner {
      padding-right: $spacing-xsmall;

      &::after {
        border-top: $spacing-xsmall solid transparent;
        border-bottom: $spacing-xsmall solid transparent;
        border-left: $spacing-xsmall solid $white;
      }
    }
  }

  &[data-position='right'] {
    .arm-tooltip-inner {
      padding-left: $spacing-xsmall;

      &::before {
        border-top: $spacing-xsmall solid transparent;
        border-bottom: $spacing-xsmall solid transparent;
        border-right: $spacing-xsmall solid $white;
      }
    }
  }

  &::before,
  &::after {
    .arm-tooltip-inner {
      @include init-pseudo;

      background-color: transparent;
      width: 0;
      height: 0;
    }
  }

  &[data-is-text='true'] {
    .arm-tooltip-inner {
      padding: $spacing-xsmall $spacing-small;
    }
  }
}

.arm-tooltip-content {
  padding: $spacing-xsmall;
  border-radius: $border-radius-small;
}
