.arm-tooltip {
  background-color: transparent;
  box-shadow: none;
  padding: 0;

  .arm-tooltip-inner {
    border-radius: $border-radius-small;
    filter: drop-shadow($shadow-xsmall);
  }

  &[data-is-text='true'] {
    .arm-tooltip-inner {
      padding: $spacing-xsmall $spacing-small;
    }
  }
}

.arm-tooltip-content {
  padding: $spacing-xsmall;
  border-radius: $border-radius-small;
}

@include screen-phone {
  .arm-tooltip {
    &[data-centre-on-mobile='true'] {
      background-color: rgba($black, 0.2);
    }
  }
}
