$arm-tooltip-max-width: 250px !default;

.arm-tooltip-wrapper {
  cursor: default;
}

.arm-tooltip {
  left: var(--arm-tooltip-left);
  top: var(--arm-tooltip-top);
  max-width: $arm-tooltip-max-width;
  position: fixed;
  background-color: transparent;
}

.arm-tooltip-content {
  background-color: $white;
}

@include screen-phone {
  .arm-tooltip {
    &[data-centre-on-mobile='true'] {
      @include absolute-fill;
      @include flex-centre-content;

      max-width: initial;
      left: 0;
      top: 0;
    }
  }
}
