.arm-input.arm-select {
  .arm-select-inner {
    flex-grow: 1;
    position: relative;
  }
}

.arm-select-select {
  @include fill;

  height: $arm-input-height;
  cursor: pointer;
  padding: $spacing-xsmall 0;
  appearance: none;
  background-color: transparent;
  resize: none;
  font-family: inherit;
  outline: none;
  border: 0;
  color: inherit;

  &:focus {
    outline: none;
    border: 0;
  }
}

.arm-icon.arm-select-overlay-icon {
  position: absolute;
  right: $spacing-xsmall;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.6rem;
}
