.arm-tag {
  border-radius: $border-radius-small;
  background-color: $brand-primary;
  box-shadow: $shadow-small;
  padding: $spacing-xxsmall $spacing-xsmall;
  color: white;
}

.arm-tag-close {
  font-size: 0.75rem;
}
