@use "../../theme/variables.scss";
@use "../../theme/mixins.scss";

.arm-tag {
  @include mixins.space-between-children-horizontal(variables.$spacing-xsmall);

  display: flex;
  align-items: center;
  white-space: nowrap;
}
