.arm-checkbox-list {
  display: flex;
  flex-direction: column;
  font-size: var(--arm-font-size-small);
  gap: var(--arm-spacing-small);
}

.arm-checkbox-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arm-checkbox-list-label {
  display: block;
  margin-bottom: var(--arm-spacing-small);
}
