.arm-calendar-input-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.arm-calendar-input-header-button:first-of-type {
  padding-left: var(--arm-spacing-xsmall);
}
.arm-calendar-input-header-button:last-of-type {
  padding-right: var(--arm-spacing-xsmall);
}
.arm-calendar-input-header-icon {
  opacity: 0.5;
}

.arm-calendar-input-header.dropdown {
  justify-content: flex-end;
}
.calendar-dropdown-select {
  margin: var(--arm-spacing-small);
}

.swipe01-date {
  padding: var(--arm-spacing-small);
}
.swipe01-button {
  padding: var(--arm-spacing-small);
}

.react-datepicker {
  box-shadow: var(--arm-shadow-faint);
  border: 1px solid var(--arm-color-grey-5);
  border-radius: var(--arm-spacing-xxxsmall);
  font-weight: normal;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: var(--arm-color-grey-1) !important;
  color: var(--arm-color-white) !important;
}

.react-datepicker__day--selected.react-datepicker__day--today
  .arm-calendar-input-day-contents,
.react-datepicker__day--in-selecting-range.react-datepicker__day--today
  .arm-calendar-input-day-contents,
.react-datepicker__day--in-range.react-datepicker__day--today
  .arm-calendar-input-day-contents {
  border-color: var(--arm-color-white) !important;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: inherit;
}
.react-datepicker__day--today .arm-calendar-input-day-contents,
.react-datepicker__month-text--today .arm-calendar-input-day-contents,
.react-datepicker__quarter-text--today .arm-calendar-input-day-contents,
.react-datepicker__year-text--today .arm-calendar-input-day-contents {
  border-color: var(--arm-color-grey-1);
}

.react-datepicker__header {
  background-color: transparent;
  border: none;
}

.react-datepicker__day--outside-month {
  opacity: 0.25;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: var(--arm-color-grey-6);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  padding: 0px;
  width: unset;
  height: unset;
  line-height: inherit;
}

.react-datepicker__day:empty {
  background-color: transparent !important;
  padding: 10.65px;
  width: var(--arm-spacing-large);
  line-height: var(--arm-spacing-large);
  margin: 0;
}

.arm-calendar-input-day-contents {
  border: 2px solid transparent;
  border-radius: var(--arm-spacing-xxxsmall);
  width: var(--arm-spacing-large);
  line-height: var(--arm-spacing-large);
  margin: var(--arm-spacing-xxxsmall);
}

.react-datepicker__day-name {
  border: 2px solid transparent;
  border-radius: var(--arm-spacing-xxxsmall);
  width: var(--arm-spacing-large);
  line-height: var(--arm-spacing-large);
  padding: var(--arm-spacing-xxxsmall);
  font-weight: bold;
  opacity: 0.5;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-bottom-color: var(--arm-color-white);
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-bottom-color: var(--arm-color-grey-5);
}
