/* stylelint-disable selector-class-pattern */
.arm-calendar-input-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.arm-calendar-input-header-button:first-of-type {
  padding-left: var(--arm-spacing-xsmall);
}

.arm-calendar-input-header-button:last-of-type {
  padding-right: var(--arm-spacing-xsmall);
}

.arm-calendar-input-header-icon {
  opacity: 0.5;
}

.arm-calendar-input-header.dropdown {
  justify-content: flex-end;
}

.arm-calendar-dropdown-select[data-size='small'] {
  width: unset;
}

.arm-calendar-dropdown-select[data-size='small'] .arm-select__control {
  margin: var(--arm-spacing-xxxsmall);
  border: none;
}

.arm-calendar-dropdown-select[data-size='small'] .arm-select__indicator-separator {
  display: none;
}

.arm-swipe01-date {
  padding: var(--arm-spacing-small);
}

.arm-swipe01-button {
  padding: var(--arm-spacing-small);
}

.arm-calendar-input .react-datepicker {
  border: 1px solid var(--arm-color-grey-100);
  border-radius: var(--arm-spacing-xxxsmall);
  font-weight: normal;
  box-shadow: 0 4px 50px rgb(0 0 0 / 3%);
}

.arm-calendar-input .react-datepicker__day--selected,
.arm-calendar-input .react-datepicker__day--in-selecting-range,
.arm-calendar-input .react-datepicker__day--in-range {
  background-color: var(--arm-color-grey-900) !important;
  color: var(--arm-color-white) !important;
}

.arm-calendar-input-day-contents {
  border: 2px solid transparent;
  border-radius: var(--arm-spacing-xxxsmall);
  width: var(--arm-spacing-large);
  line-height: var(--arm-spacing-large);
  margin: var(--arm-spacing-xxxsmall);
}

.arm-calendar-input .react-datepicker__day--today .arm-calendar-input-day-contents,
.arm-calendar-input .react-datepicker__month-text--today .arm-calendar-input-day-contents,
.arm-calendar-input .react-datepicker__quarter-text--today .arm-calendar-input-day-contents,
.arm-calendar-input .react-datepicker__year-text--today .arm-calendar-input-day-contents {
  border-color: var(--arm-color-grey-1000);
}

.arm-calendar-input .react-datepicker__day--selected.react-datepicker__day--today .arm-calendar-input-day-contents,
.arm-calendar-input
  .react-datepicker__day--in-selecting-range.react-datepicker__day--today
  .arm-calendar-input-day-contents,
.arm-calendar-input .react-datepicker__day--in-range.react-datepicker__day--today .arm-calendar-input-day-contents {
  border-color: var(--arm-color-white) !important;
}

.arm-calendar-input .react-datepicker__day--today,
.arm-calendar-input .react-datepicker__month-text--today,
.arm-calendar-input .react-datepicker__quarter-text--today,
.arm-calendar-input .react-datepicker__year-text--today {
  font-weight: inherit;
}

.arm-calendar-input .react-datepicker__header {
  background-color: transparent;
  border: none;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.arm-calendar-input .react-datepicker__day--outside-month {
  opacity: 0.25;
}

.arm-calendar-input .react-datepicker__day-name,
.arm-calendar-input .react-datepicker__day,
.arm-calendar-input .react-datepicker__time-name {
  padding: 0;
  width: unset;
  height: unset;
  line-height: inherit;
}

.arm-calendar-input .react-datepicker__day:hover,
.arm-calendar-input .react-datepicker__month-text:hover,
.arm-calendar-input .react-datepicker__quarter-text:hover,
.arm-calendar-input .react-datepicker__year-text:hover {
  background-color: var(--arm-color-grey-6);
}

.arm-calendar-input .react-datepicker__day--keyboard-selected,
.arm-calendar-input .react-datepicker__month-text--keyboard-selected,
.arm-calendar-input .react-datepicker__quarter-text--keyboard-selected,
.arm-calendar-input .react-datepicker__year-text--keyboard-selected {
  background-color: transparent;
}

/* override internal library styles */
.arm-calendar-input .react-datepicker__day:empty {
  background-color: transparent !important;
  padding: 10.65px;
  width: var(--arm-spacing-large);
  line-height: var(--arm-spacing-large);
  margin: 0;
}

.arm-calendar-input .react-datepicker__day-name {
  border: 2px solid transparent;
  border-radius: var(--arm-spacing-xxxsmall);
  width: var(--arm-spacing-large);
  line-height: var(--arm-spacing-large);
  padding: var(--arm-spacing-xxxsmall);
  font-weight: bold;
  opacity: 0.5;
}

/* TRIANGLE */

.arm-calendar-input .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::before {
  border-top-color: var(--arm-color-grey-100);
}

.arm-calendar-input .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: var(--arm-color-grey-100);
}

.arm-calendar-input .react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle::after {
  border-top-color: var(--arm-color-white);
}

.arm-calendar-input .react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  border-bottom-color: var(--arm-color-white);
}
