// import font styles
@import "./shared/fonts";
@import "./shared/icomoon";

// ARMSTRONG IMPORTs

// import variables
@import "~@rocketmakers/armstrong-edge/dist/variables.scss";

// import base component styles
@import "~@rocketmakers/armstrong-edge/dist/basic.scss";
// import styled component styles
@import "~@rocketmakers/armstrong-edge/dist/prototyping.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#host,
.shell {
  font-family: Roboto, Helvetica, arial, sans-serif;
}

.shell {
  padding: 10px;
}
