.arm-tab-control {
  display: flex;
  align-items: center;
}

.arm-tab-control-tab {
  color: $black;
  padding: $spacing-xxsmall $spacing-xsmall;

  &[data-is-current='true'] {
    color: $brand-primary;
  }
}
