/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern -- react datepicker internals */
.arm-base-calendar-input {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: var(--arm-font-size-small);
}

/* override inline library styles */
.react-datepicker-popper .react-datepicker__triangle {
  left: calc(-1 * var(--arm-spacing-medium)) !important;
}

.arm-base-calendar-input-container {
  position: relative;
  border: var(--arm-form-border-thickness) solid var(--arm-color-grey-600);
  border-radius: var(--arm-form-border-radius);
  display: flex;
  align-items: stretch;
  background-color: white;
}

.react-datepicker-wrapper {
  padding-right: var(--arm-spacing-medium);
}

.react-datepicker__input-container {
  height: 100%;
}

.react-datepicker__input-container input {
  width: var(--arm-input-width);
  font-size: inherit;
  border: none;
  padding: var(--arm-spacing-small) var(--arm-spacing-medium);
  padding-right: 0;
  height: 100%;
  box-sizing: border-box;
}

/* DISABLED */

.arm-base-calendar-input[data-disabled='true'] .arm-base-calendar-input-container {
  border-color: var(--arm-color-grey-400);
  background-color: var(--arm-color-grey-100);
}

/** FOCUS **/

.arm-base-calendar-input-container input:focus {
  outline: 0;
}

.arm-base-calendar-input-container:focus-within {
  box-shadow: 0 0 0 calc(var(--arm-form-border-thickness-highlight) - var(--arm-form-border-thickness))
    var(--arm-color-grey-1000);
}

.arm-base-calendar-input[data-error='true'] .arm-base-calendar-input-container:focus-within {
  box-shadow: 0 0 0 calc(var(--arm-form-border-thickness-highlight) - var(--arm-form-border-thickness))
    var(--arm-color-negative);
}

/* ERROR */

.arm-base-calendar-input[data-error='true'] .arm-base-calendar-input-container {
  border-color: var(--arm-color-negative);
}

.arm-base-calendar-input[data-size='small'] {
  font-size: var(--arm-font-size-xsmall);
}

.arm-base-calendar-input[data-size='large'] {
  font-size: var(--arm-font-size-medium);
}

.arm-base-calendar-input[data-size='small'] .arm-base-calendar-input-container input {
  padding-top: var(--arm-spacing-xxsmall);
  padding-bottom: var(--arm-spacing-xxsmall);
}

.arm-base-calendar-input[data-size='large'] .arm-base-calendar-input-container input {
  padding-top: var(--arm-spacing-medium);
  padding-bottom: var(--arm-spacing-medium);
}

.arm-base-calendar-input-container .arm-status {
  padding: var(--arm-spacing-small) var(--arm-spacing-medium);
}

.arm-base-calendar-input-container .arm-calendar-icon {
  padding: var(--arm-spacing-small) var(--arm-spacing-medium);
  padding-right: 0;
  display: flex;
  align-items: center;
}

.arm-base-calendar-input .react-datepicker {
  display: inline-flex;
}
