// psuedo elements

@mixin init-pseudo {
  display: block;
  content: '';
}

// layout

@mixin fill {
  height: 100%;
  width: 100%;
}

@mixin absolute-fill {
  position: absolute;
  left: 0;
  top: 0;
  @include fill;
}

@mixin absolute-fill {
  position: absolute;
  left: 0;
  top: 0;
  @include fill;
}

@mixin absolute-centre-self {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-centre-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin space-between-children-horizontal($spacing) {
  > *:not(:last-child) {
    margin-right: $spacing;
  }
}

@mixin space-between-children-vertical($spacing) {
  > *:not(:last-child) {
    margin-bottom: $spacing;
  }
}

// responsiveness

@mixin media-query($screen-width: $screen-size-phone) {
  @media screen and (max-width: $screen-width) {
    @content;
  }
}

@mixin media-query-min($screen-width: $screen-size-phone) {
  @media screen and (min-width: $screen-width) {
    @content;
  }
}

@mixin screen-tablet() {
  @include media-query($screen-size-tablet) {
    @content;
  }
}

@mixin screen-phone() {
  @include media-query($screen-size-phone) {
    @content;
  }
}

@mixin screen-not-phone() {
  @include media-query-min($screen-size-phone) {
    @content;
  }
}

@mixin screen-phone-tiny() {
  @include media-query($screen-size-phone * 0.4) {
    @content;
  }
}

// selectors

@mixin range-input-thumb {
  // an unusual limitation with browser specific selectors means that these al need to be
  // separate selectors and cannot be combined with commas (like a, b, c {} )
  &::-webkit-slider-thumb {
    @content;
  }
  &::-moz-range-thumb {
    @content;
  }
  &::-ms-thumb {
    @content;
  }
}
@mixin range-input-track {
  // an unusual limitation with browser specific selectors means that these al need to be
  // separate selectors and cannot be combined with commas (like a, b, c {} )
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
}
