// psuedo elements

@mixin init-pseudo {
  display: block;
  content: '';
}

// layout

@mixin fill {
  height: 100%;
  width: 100%;
}

@mixin absolute-fill {
  position: absolute;
  left: 0;
  top: 0;
  @include fill;
}

@mixin flex-centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}
