@function pxToRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

// colors
$color-black: #000 !default;
$color-white: #fff !default;
$color-brand-primary: #cd3939 !default;
$color-brand-secondary: #3d4144 !default;

$color-grey-1: #333333 !default;
$color-grey-3: #848484 !default;
$color-grey-4: #949494 !default;
$color-grey-5: #e0e0e0 !default;

$color-positive: #00a388 !default;
$color-warning: #f78e52 !default;
$color-negative: #da2e18 !default;
$color-info: #3498d8 !default;

// spacing
$spacing-xxxsmall: pxToRem(6) !default;
$spacing-xxsmall: pxToRem(8) !default;
$spacing-xsmall: pxToRem(10) !default;
$spacing-small: pxToRem(12) !default;
$spacing-medium: pxToRem(16) !default;
$spacing-large: pxToRem(20) !default;
$spacing-xlarge: pxToRem(24) !default;
$spacing-xxlarge: pxToRem(32) !default;
$spacing-xxxlarge: pxToRem(40) !default;
$spacing-xxxxlarge: pxToRem(48) !default;

// fonts
$font-size-xsmall: pxToRem(14) !default;
$font-size-small: pxToRem(16) !default;
$font-size-medium: pxToRem(18) !default;
$font-size-large: pxToRem(20) !default;
$font-size-xlarge: pxToRem(24) !default;
$font-size-xxlarge: pxToRem(32) !default;
$font-size-xxxlarge: pxToRem(40) !default;

//// components

// button
$button-border-radius: 6px;
$button-primary-bg-color: $color-grey-1;
$button-primary-fg-color: $color-white;
$button-secondary-bg-color: $color-grey-5;
$button-secondary-fg-color: $color-grey-1;
$button-outline-stroke-color: $button-primary-bg-color;
$button-outline-stroke-thickness: 2px;

// form
$form-element-border-radius: 5px !default;
$form-element-border-thickness: 2px !default;
$form-element-square-size: 25px !default;

// spinner
$spinner-speed: 500ms;

// shadows
$shadow-opacity: 0.25 !default;
$shadow-color: rgba($color-grey-1, $shadow-opacity) !default;

$shadow-size-xsmall: 0.2rem !default;
$shadow-size-small: 0.5rem !default;
$shadow-size-medium: 1rem !default;
$shadow-size-large: 2rem !default;
$shadow-size-xlarge: 3rem !default;

$shadow-offset-xsmall: 0.05rem 0.05rem !default;
$shadow-offset-small: 0.1rem 0.1rem !default;
$shadow-offset-medium: 0.2rem 0.2rem !default;
$shadow-offset-large: 0.4rem 0.4rem !default;
$shadow-offset-xlarge: 1.5rem 1.5rem !default;

$shadow-xsmall: $shadow-offset-xsmall $shadow-size-xsmall $shadow-color !default;
$shadow-small: $shadow-offset-small $shadow-size-small $shadow-color !default;
$shadow-medium: $shadow-offset-medium $shadow-size-medium $shadow-color !default;
$shadow-large: $shadow-offset-large $shadow-size-large $shadow-color !default;
$shadow-xlarge: $shadow-offset-xlarge $shadow-size-xlarge $shadow-color !default;

$shadow-inner-xsmall: $shadow-offset-xsmall $shadow-size-xsmall $shadow-color inset !default;
$shadow-inner-small: $shadow-offset-small $shadow-size-small $shadow-color inset !default;
$shadow-inner-medium: $shadow-offset-medium $shadow-size-medium $shadow-color inset !default;
$shadow-inner-large: $shadow-offset-large $shadow-size-large $shadow-color inset !default;
$shadow-inner-xlarge: $shadow-offset-xlarge $shadow-size-xlarge $shadow-color inset !default;

// transitions

$transition-quick: 0.15s !default;
$transition-medium: 0.4s !default;
$transition-slow: 0.8s !default;

:root {
  --arm-color-black: #{$color-black};
  --arm-color-white: #{$color-white};

  --arm-color-grey-1: #{$color-grey-1};
  --arm-color-grey-3: #{$color-grey-3};
  --arm-color-grey-4: #{$color-grey-4};
  --arm-color-grey-5: #{$color-grey-5};

  --arm-color-brand-primary: #{$color-brand-primary};
  --arm-color-brand-secondary: #{$color-brand-secondary};

  --arm-font-size-xsmall: #{$font-size-xsmall};
  --arm-font-size-small: #{$font-size-small};
  --arm-font-size-medium: #{$font-size-medium};
  --arm-font-size-large: #{$font-size-large};
  --arm-font-size-xlarge: #{$font-size-xlarge};
  --arm-font-size-xxlarge: #{$font-size-xxlarge};
  --arm-font-size-xxxlarge: #{$font-size-xxxlarge};

  --arm-spacing-xxxsmall: #{$spacing-xxxsmall};
  --arm-spacing-xxsmall: #{$spacing-xxsmall};
  --arm-spacing-xsmall: #{$spacing-xsmall};
  --arm-spacing-small: #{$spacing-small};
  --arm-spacing-medium: #{$spacing-medium};
  --arm-spacing-large: #{$spacing-large};
  --arm-spacing-xlarge: #{$spacing-xlarge};
  --arm-spacing-xxlarge: #{$spacing-xxlarge};
  --arm-spacing-xxxlarge: #{$spacing-xxxlarge};
  --arm-spacing-xxxxlarge: #{$spacing-xxxxlarge};

  // Button
  --arm-button-border-radius: #{$button-border-radius};

  --arm-button-primary-bg-color: #{$button-primary-bg-color};
  --arm-button-primary-fg-color: #{$button-primary-fg-color};

  --arm-button-secondary-bg-color: #{$button-secondary-bg-color};
  --arm-button-secondary-fg-color: #{$button-secondary-fg-color};

  --arm-button-outline-stroke-color: #{$button-outline-stroke-color};
  --arm-button-outline-stroke-thickness: #{$button-outline-stroke-thickness};

  // Spinner
  --arm-spinner-speed: #{$spinner-speed};

  // Form - Shared
  --arm-form-border-radius: #{$form-element-border-radius};
  --arm-form-border-thickness: #{$form-element-border-thickness};
  --arm-form-border-color: #{$color-grey-4};
  --arm-form-square-size: #{$form-element-square-size};
  --arm-form-checked-bg-color: #{$color-grey-1};
  --arm-form-checked-fg-color: #{$color-white};

  // Shadows
  --arm-shadow-xsmall: #{$shadow-xsmall};
  --arm-shadow-small: #{$shadow-small};
  --arm-shadow-medium: #{$shadow-medium};
  --arm-shadow-large: #{$shadow-large};
  --arm-shadow-xlarge: #{$shadow-xlarge};

  --arm-inner-shadow-xsmall: #{$shadow-inner-xsmall};
  --arm-inner-shadow-small: #{$shadow-inner-small};
  --arm-inner-shadow-medium: #{$shadow-inner-medium};
  --arm-inner-shadow-large: #{$shadow-inner-large};
  --arm-inner-shadow-xlarge: #{$shadow-inner-xlarge};

  // transitions
  --arm-transition-slow: #{$transition-slow};
  --arm-transition-medium: #{$transition-medium};
  --arm-transition-quick: #{$transition-quick};
}
