// colors

$white: #ffffff;
$brand-primary: #cd3939;
$brand-secondary: #3d4144;

$gray-base: #4f5c69;
$gray-very-dark: darken($gray-base, 20%);
$gray-dark: darken($gray-base, 15%);
$gray-medium: $gray-base;
$gray-light: lighten($gray-base, 50%);
$gray-very-light: lighten($gray-base, 60%);

$color-positive: #00a388;
$color-warning: #f78e52;
$color-negative: #df5a49;
$color-info: #3498d8;

// spacing

$spacing-xxsmall: 0.25rem;
$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xlarge: 4rem;

// border radiuses

$border-radius-small: $spacing-xxsmall;
$border-radius-medium: $spacing-small;
$border-radius-large: $spacing-medium;

// shadows

$shadow-opacity: 0.25;
$shadow-color: rgba($gray-very-dark, $shadow-opacity);

$shadow-size-small: 0.5rem;
$shadow-size-medium: 1rem;
$shadow-size-large: 2rem;
$shadow-offset-small: 0.25rem 0.25rem;
$shadow-offset-medium: 0.5rem 0.5rem;
$shadow-offset-large: 1rem 1rem;

$shadow-small: $shadow-offset-small $shadow-size-small $shadow-color;
$shadow-medium: $shadow-offset-medium $shadow-size-medium $shadow-color;
$shadow-large: $shadow-offset-large $shadow-size-large $shadow-color;
