:root {
  /* Colors - monochrome */
  --arm-color-black: #000;
  --arm-color-grey-1000: #333;
  --arm-color-grey-900: #474747;
  --arm-color-grey-800: #5c5c5c;
  --arm-color-grey-700: #707070;
  --arm-color-grey-600: #848484;
  --arm-color-grey-500: #999;
  --arm-color-grey-400: #adadad;
  --arm-color-grey-300: #c2c2c2;
  --arm-color-grey-200: #d6d6d6;
  --arm-color-grey-100: #ebebeb;
  --arm-color-white: #fff;

  /* Colors - status */
  --arm-color-positive: #27ae60;
  --arm-color-positive-secondary: #27ae5f2b;
  --arm-color-warning: #f78e52;
  --arm-color-warning-secondary: #f78f522b;
  --arm-color-negative: #eb5757;
  --arm-color-negative-secondary: #eb57572b;
  --arm-color-info: #3498d8;
  --arm-color-info-secondary: #3499d82b;

  /* Colors - brand */
  --arm-color-brand-primary: #cd3939;
  --arm-color-brand-secondary: #3d4144;

  /* Font sizes */
  --arm-font-size-xsmall: 0.875rem;
  --arm-font-size-small: 1rem;
  --arm-font-size-medium: 1.125rem;
  --arm-font-size-large: 1.25rem;
  --arm-font-size-xlarge: 1.5rem;
  --arm-font-size-xxlarge: 2rem;
  --arm-font-size-xxxlarge: 2.5rem;

  /** Font weights */
  --arm-font-weight-medium: 500;
  --arm-font-weight-bold: 700;

  /* Spacing */
  --arm-spacing-xxxsmall: 0.375rem;
  --arm-spacing-xxsmall: 0.5rem;
  --arm-spacing-xsmall: 0.625rem;
  --arm-spacing-small: 0.75rem;
  --arm-spacing-medium: 1rem;
  --arm-spacing-large: 1.25rem;
  --arm-spacing-xlarge: 1.5rem;
  --arm-spacing-xxlarge: 2rem;
  --arm-spacing-xxxlarge: 2.5rem;
  --arm-spacing-xxxxlarge: 3rem;

  /* Accessibility */
  --arm-focus-visible-color: var(--arm-color-grey-1000);

  /* Button */
  --arm-button-border-radius: 6px;
  --arm-button-primary-bg-color: var(--arm-color-grey-1000);
  --arm-button-primary-fg-color: var(--arm-color-white);
  --arm-button-secondary-bg-color: var(--arm-color-grey-100);
  --arm-button-secondary-fg-color: var(--arm-color-grey-1000);
  --arm-button-outline-stroke-color: var(--arm-button-primary-bg-color);
  --arm-button-outline-stroke-thickness: 2px;

  /* Inputs */
  --arm-input-width: 23.4375rem;
  --arm-input-width-large: 26.25rem;
  --arm-input-height: 2.25rem;
  --arm-input-height-medium: 3rem;
  --arm-input-height-large: 3.5rem;
  --arm-input-bg-color: var(--arm-color-white);
  --arm-checkbox-bg-color: var(--arm-input-bg-color);
  --arm-radio-bg-color: var(--arm-input-bg-color);
  --arm-input-fg-color: inherit;
  --arm-checkbox-fg-color: var(--arm-input-fg-color);
  --arm-radio-fg-color: var(--arm-input-fg-color);

  /* Spinner */
  --arm-spinner-speed: 500ms;

  /* Form - shared */
  --arm-form-border-radius: 5px;
  --arm-form-border-thickness: 1px;
  --arm-form-border-thickness-highlight: 1px;
  --arm-form-border-color: var(--arm-color-grey-600);
  --arm-form-square-size: 25px;
  --arm-form-checked-bg-color: var(--arm-color-grey-600);
  --arm-form-checked-fg-color: var(--arm-color-white);
  --arm-form-input-max-width: 23.4375rem;
}
