.arm-calendar-date-grid-headings {
  display: flex;
}

.arm-calendar-date-grid-days {
  display: flex;
  flex-wrap: wrap;
}

.arm-calendar-date-grid-day, .arm-calendar-date-grid-heading {
  flex-basis: 14.2857%;
  &[data-selected="true"] {
    background-color: red;
  }
}