.arm-calendar-input {
  .arm-input-wrapper-above,
  .arm-input-wrapper-below {
    max-height: 0;
  }

  &[data-calendar-open='true'] {
    .arm-input-wrapper-above,
    .arm-input-wrapper-below {
      max-height: 400px;
    }
  }
}

.arm-calendar-input-preview {
  font-size: 0.8rem;

  p.arm-calendar-input-placeholder {
    color: $gray-medium;
  }
}
