.arm-calendar-select {
  margin-right: 0;
  flex: 1;

  .arm-dropdown {
    width: 100%;
  }

  .arm-input-wrapper {
    margin-right: 0;

    .arm-input-inner {
      margin-right: 0;

      input {
        width: 20px;
      }
    }
  }
}

.arm-calendar-input-between-inputs {
  color: $gray-light;
  margin-right: 0;
}

.arm-dropdown-content.arm-calendar-input-dropdown-content {
  min-width: $arm-calendar-display-width;

  .arm-calendar-display {
    max-width: none;
  }
}

.arm-calendar-input {
  width: 100%;
  max-width: $input-width;

  .arm-dropdown {
    width: 100%;

    .arm-input-wrapper-above,
    .arm-input-wrapper-below {
      .arm-calendar-display {
        max-width: none;
      }
    }
  }

  &[data-display-mode='calendar'] {
    cursor: pointer;

    .arm-input-inner {
      cursor: pointer;
    }
  }
}

.arm-calendar-input-preview {
  height: $input-height;
  display: flex;
  align-items: center;
}
