.arm-input-inner {
  cursor: text;
}

.arm-input-base-input {
  flex-grow: 1;
  appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: $spacing-xsmall 0;
  height: $input-height;

  &:focus {
    border: 0;
    outline: none;
  }
}
