@use '../../theme/variables.scss';

.arm-input-inner {
  cursor: text;
}

.arm-input-base-input {
  flex-grow: 1;
  appearance: none;
  appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: variables.$spacing-xsmall 0;
  height: variables.$arm-input-height;
  color: inherit;

  &:focus {
    border: 0;
    outline: none;
  }
}
