.arm-input {
  width: $input-width;

  &[data-arm-input-pad-left='true'] {
    padding-left: $spacing-xsmall;

    input,
    select {
      padding-left: 0;
    }
  }

  &[data-arm-input-pad-right='true'] {
    padding-right: $spacing-xsmall;

    input,
    select {
      padding-right: 0;
    }
  }

  + .arm-validation-errors {
    margin-top: $spacing-xsmall;
  }
}
