.arm-input {
  box-shadow: $shadow-small;
  border-radius: $spacing-xxsmall;
  transition: opacity $transition-quick;

  .arm-icon-wrapper {
    min-height: 1.5rem;
  }

  + .arm-input {
    margin-top: $spacing-small;
  }

  .arm-input-overlay {
    p {
      color: $gray-light;
      font-size: 0.75rem;
      white-space: nowrap;
    }
  }

  .arm-icon.arm-input-validation-error-icon {
    color: $color-negative;
    animation: slide-in-left-small $transition-quick;
    font-size: 0.75rem;
  }

  &[data-disabled='true'] {
    opacity: 0.5;
  }
}
