.arm-input {
  width: $input-width;
  padding: 0 $spacing-xsmall;
  display: flex;
  align-items: center;
  gap: $spacing-xsmall;

  + .arm-validation-errors {
    margin-top: $spacing-xsmall;
  }

  &[data-disabled='true'] {
    pointer-events: none;
    user-select: none;
  }

  .arm-spinner {
    .arm-icon {
      font-size: 0.75rem;
    }
  }
}
