.arm-input-overlay-left,
.arm-input-overlay-right {
  display: flex;
  align-items: center;
}

.arm-input-overlay-left {
  padding-inline-start: var(--arm-spacing-small);
}

.arm-input-overlay-right {
  padding-inline-end: var(--arm-spacing-small);
}
