.arm-input {
  box-shadow: $shadow-small;
  border-radius: $spacing-xxsmall;
  width: 240px;

  .arm-icon-wrapper {
    min-height: 1.5rem;
  }

  + .arm-input {
    margin-top: $spacing-small;
  }

  .arm-input-overlay {
    p {
      color: $gray-light;
    }
  }

  &[data-arm-input-pad-left='true'] {
    padding-left: $spacing-xsmall;

    input {
      padding-left: 0;
    }
  }

  &[data-arm-input-pad-right='true'] {
    padding-right: $spacing-xsmall;

    input {
      padding-right: 0;
    }
  }

  .arm-icon.arm-input-validation-error-icon {
    color: $color-negative;
  }

  + .arm-validation-errors {
    margin-top: $spacing-xsmall;
  }
}
