.arm-input.input-wrapper {
  box-shadow: $shadow-small;
  border-radius: $spacing-xxsmall;
  transition: opacity $transition-quick, border-color $transition-quick;
  border: 1px solid transparent;

  + .arm-input {
    margin-top: $spacing-small;
  }

  .arm-input-overlay {
    p {
      color: $gray-light;
      font-size: 0.75rem;
      white-space: nowrap;
    }
  }

  &[data-disabled='true'] {
    opacity: 0.5;
  }

  &[data-error='true'] {
    border: 1px solid $color-negative;
  }
}
