.arm-input.input-wrapper {
  width: $input-width;

  .arm-input-inner {
    width: 100%;
    padding: 0 $spacing-xsmall;
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: $spacing-xxsmall;
    }
  }

  &[data-disabled='true'] {
    pointer-events: none;
    user-select: none;
  }
}
