.arm-input.arm-text-area-input {
  width: $input-width-large;

  .arm-input-inner {
    cursor: text;

    textarea {
      min-height: $input-height-large;
      width: 100%;

      -webkit-appearance: none;
      background-color: transparent;
      resize: none;
      font-family: inherit;
      outline: none;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}
