.arm-radio-input label {
  user-select: none;

  .arm-radio-input-radio {
    border-radius: 50%;
    border: $line-light;

    &::after {
      transition: opacity $transition-quick;
      border-radius: 50%;
    }
  }
}
