.arm-radio-input-radio {
  @include square(1.4rem);
  @include flex-centre-content;

  position: relative;

  &::after {
    @include init-pseudo;
    @include square(0.9rem);

    pointer-events: none;
    background-color: $brand-primary;
    opacity: 0;
  }

  .arm-icon {
    @include absolute-fill;
    @include flex-centre-content;

    pointer-events: none;
    opacity: 0;

    &.arm-icon.arm-radio-input-unchecked-icon {
      opacity: 1;
    }

    &.arm-icon.arm-radio-input-checked-icon {
      color: $brand-primary;
    }
  }
}

.arm-radio-input {
  &[data-direction='horizontal'] {
    label {
      @include space-between-children-horizontal($spacing-xxsmall);
    }
  }

  &[data-direction='vertical'] {
    label {
      @include space-between-children-vertical($spacing-xxsmall);

      flex-direction: column;
    }
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &[data-has-checked-icon='true'] {
    .arm-radio-input-radio {
      &::after {
        background-color: transparent;
      }
    }
  }

  &[data-checked='true'] {
    .arm-radio-input-radio {
      &::after {
        opacity: 1;
      }
    }
  }
}

.arm-radio-input-radio-input {
  @include absolute-fill;

  appearance: none;
  margin: 0;
  cursor: pointer;

  &:checked ~ .arm-icon.arm-radio-input-checked-icon {
    opacity: 1;
  }

  &:checked ~ .arm-icon.arm-radio-input-unchecked-icon {
    opacity: 0;
  }
}
