@use '../../theme/variables.scss';
@use '../../theme/mixins.scss';

.arm-radio-input-radio {
  @include mixins.square(1.4rem);
  @include mixins.flex-centre-content;

  position: relative;

  &::after {
    @include mixins.init-pseudo;
    @include mixins.square(0.9rem);

    pointer-events: none;
    background-color: variables.$brand-primary;
    opacity: 0;
  }

  .arm-icon {
    @include mixins.absolute-fill;
    @include mixins.flex-centre-content;

    pointer-events: none;
    opacity: 0;

    &.arm-icon.arm-radio-input-unchecked-icon {
      opacity: 1;
    }

    &.arm-icon.arm-radio-input-checked-icon {
      color: variables.$brand-primary;
    }
  }
}

.arm-radio-input {
  position: relative;

  &[data-direction='horizontal'] {
    label {
      @include mixins.space-between-children-horizontal(variables.$spacing-xsmall);
    }
  }

  &[data-direction='vertical'] {
    label {
      @include mixins.space-between-children-vertical(variables.$spacing-xsmall);

      flex-direction: column;
    }
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &[data-has-checked-icon='true'] {
    .arm-radio-input-radio {
      &::after {
        background-color: transparent;
      }
    }
  }

  &[data-checked='true'] {
    .arm-radio-input-radio {
      &::after {
        opacity: 1;
      }
    }

    .arm-icon.arm-radio-input-checked-icon {
      opacity: 1;
    }

    .arm-icon.arm-radio-input-unchecked-icon {
      opacity: 0;
    }
  }
}

.arm-radio-input-radio-input {
  @include mixins.absolute-fill;

  appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}
