.arm-input-base .arm-input-inner {
  width: var(--arm-input-width);
  min-height: var(--arm-input-height);
  display: flex;
  align-items: center;
  background-color: var(--arm-color-white);
  border: var(--arm-form-border-thickness) solid var(--arm-color-grey-600);
  border-radius: var(--arm-form-border-radius);
  overflow: hidden;
}

.arm-input-base-input {
  flex: 1;
  padding: var(--arm-spacing-small) var(--arm-spacing-medium);
  border: none;
  background-color: transparent;
  outline: none;
  font-size: inherit;
}

/** DISABLED **/

.arm-input-base[data-disabled='true'] .arm-input-inner {
  border-color: var(--arm-color-grey-300);
  background-color: var(--arm-color-grey-100);
}

.arm-input-base-input:disabled {
  cursor: not-allowed;
}

/** SIZES **/

.arm-input-base[data-size='small'] {
  font-size: var(--arm-font-size-xsmall);
}

.arm-input-base[data-size='large'] {
  font-size: var(--arm-font-size-medium);
}

.arm-input-base[data-size='small'] .arm-input-base-input {
  padding-top: var(--arm-spacing-xxsmall);
  padding-bottom: var(--arm-spacing-xxsmall);
}

.arm-input-base[data-size='large'] .arm-input-base-input {
  padding-top: var(--arm-spacing-medium);
  padding-bottom: var(--arm-spacing-medium);
}

/** LABEL **/

.arm-input-base-label {
  display: inline-block;
  margin-bottom: var(--arm-spacing-xxxsmall);
  margin-left: var(--arm-spacing-xxxsmall);
}

.arm-input-base[data-size='small'] .arm-input-base-label {
  font-size: var(--arm-font-size-xsmall);
}

.arm-input-base[data-size='large'] .arm-input-base-label {
  font-size: var(--arm-font-size-medium);
}

/** OVERLAYS **/

.arm-input-base[data-left-overlay] .arm-input-base-input {
  padding-left: var(--arm-spacing-small);
}

.arm-input-base[data-right-overlay] .arm-input-base-input {
  padding-right: var(--arm-spacing-small);
}

/** FOCUS **/

.arm-input-base .arm-input-inner:focus-within {
  border-color: var(--arm-focus-visible-color);
  outline: calc(var(--arm-form-border-thickness-highlight) - var(--arm-form-border-thickness)) solid
    var(--arm-focus-visible-color);
}

/** STATUS **/

.arm-input-base-status {
  display: flex;
  align-items: center;
}

.arm-input-base-status[data-position='right'] {
  padding-right: var(--arm-spacing-small);
}

.arm-input-base-status[data-position='left'] {
  padding-left: var(--arm-spacing-small);
}

/** ERROR **/

.arm-input-base[data-error] .arm-input-inner {
  border-color: var(--arm-color-negative);
}

.arm-input-base[data-error] .arm-input-inner:focus-within {
  outline-color: var(--arm-color-negative);
}
