.arm-radio-input-radio {
  // square
  width: var(--arm-spacing-xlarge);
  height: var(--arm-spacing-xlarge);

  // flex-centre-content
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border-radius: 50%;
  border: var(--arm-line) var(--arm-form-border-color);
}
.arm-radio-input-radio::after {
  // init-pseudo
  display: block;
  content: "";

  // square
  width: var(--arm-spacing-medium);
  height: var(--arm-spacing-medium);

  transition: opacity var(--arm-transition-quick);
  border-radius: 50%;

  pointer-events: none;
  background-color: var(--arm-form-checked-bg-color);
  opacity: 0;
}

.arm-radio-input-icon {
  // absolute-fill
  //fill
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  // flex-centre-content
  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  opacity: 0;
}
.arm-radio-input-icon.arm-icon.arm-radio-input-unchecked-icon {
  opacity: 1;
}
.arm-radio-input-icon.arm-icon.arm-radio-input-checked-icon {
  color: var(--arm-form-checked-bg-color);
}

.arm-radio-input {
  position: relative;
}
.arm-radio-input[data-checked="true"] .arm-radio-input-radio::after {
  opacity: 1;
}
.arm-radio-input[data-checked="true"] .arm-radio-input-checked-icon {
  opacity: 1;
}
.arm-radio-input[data-checked="true"] .arm-radio-input-unchecked-icon {
  opacity: 0;
}
.arm-radio-input[data-direction="horizontal"] label {
  flex-direction: column;
}
// space-between-children-vertical
.arm-radio-input[data-direction="horizontal"] label > *:not(:last-child) {
  margin-bottom: var(--arm-spacing-small);
}

// space-between-children-horizontal
.arm-radio-input[data-direction="vertical"] label > *:not(:last-child) {
  margin-right: var(--arm-spacing-small);
}

.arm-radio-input[data-has-checked-icon="true"] .arm-radio-input-radio::after {
  background-color: transparent;
}

.arm-radio-input-label {
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arm-radio-input-radio-input {
  // absolute-fill
  //fill
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;
}
