.arm-switch-input {
  .arm-switch-input-inner {
    border-radius: $arm-switch-input-height * 0.5;
    background-color: $gray-light;

    &::after {
      background-color: $white;
      box-shadow: $shadow-small;
      border-radius: 50%;
    }
  }

  &[data-checked='true'] {
    .arm-switch-input-inner {
      background-color: $color-positive;
    }
  }
}
