.arm-range-input-root {
  --arm-range-input-width: 600px;
  --arm-range-input-thumb-size: var(--arm-spacing-xlarge);
  --arm-range-input-track-height: calc(var(--arm-range-input-thumb-size) / 2);

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: var(--arm-range-input-width);
  height: var(--arm-range-input-thumb-size);
}

.arm-range-input-track {
  background-color: var(--arm-color-grey-100);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: var(--arm-range-input-track-height);
}

.arm-range-input-range {
  position: absolute;
  background-color: var(--arm-color-grey-1000);
  border-radius: 9999px;
  height: 100%;
}

.arm-range-input-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--arm-range-input-thumb-size);
  height: var(--arm-range-input-thumb-size);
  background-color: var(--arm-color-white);
  border-radius: calc(var(--arm-range-input-thumb-size) / 2);
  border: 1px solid var(--arm-color-black);
}

.arm-range-input-thumb:focus {
  outline: 1px solid var(--arm-color-black);
}

.arm-range-input-label {
  display: inline-block;
  margin-bottom: var(--arm-spacing-xxxsmall);
  margin-left: var(--arm-spacing-xxxsmall);
}

/** SIZES **/

.arm-range-input-root[data-size='small'] {
  --arm-range-input-width: 400px;
  --arm-range-input-thumb-size: var(--arm-spacing-medium);
}

.arm-range-input-root[data-size='large'] {
  --arm-range-input-width: 800px;
  --arm-range-input-thumb-size: var(--arm-spacing-xxlarge);
}
