.arm-input-overlay-left, .arm-input-overlay-right {
  display: flex;
  align-items: center;
}

.arm-input-overlay-left {
  padding-left: var(--arm-spacing-small);
}

.arm-input-overlay-right {
  padding-right: var(--arm-spacing-small);
}