.arm-group {
  position: relative;

  &[data-has-title='true'] {
    border-radius: $border-radius-small;
    border: $line-light;
    padding: $spacing-xsmall;
  }
}

.arm-group-title {
  background-color: $white;
  position: absolute;
  top: -0.5rem;
  left: $spacing-xsmall;
  font-size: 0.75rem;
  padding: 0 $spacing-xsmall;
}
