.arm-select {
  width: 100%;
  max-width: var(--arm-form-input-max-width);
}

.arm-select-select {
  padding: var(--arm-spacing-small) 0 var(--arm-spacing-small)
    var(--arm-spacing-small);
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  resize: none;
  font-family: inherit;
  outline: none;
  color: inherit;
  background-color: var(--arm-color-white);
  font-size: var(--arm-font-size-small);
  border: unset;
}

.arm-select-inner {
  flex-grow: 1;
  position: relative;
}

.arm-input-inner {
  border: var(--arm-form-border-thickness) solid var(--arm-color-grey-3);
  border-radius: var(--arm-form-border-radius);
}

.arm-input-inner:focus-within {
  border-color: var(--arm-color-gray-1);
}

.arm-select[data-error='true'] {
  font-size: var(--arm-font-size-xsmall);
}

.arm-status {
  color: var(--arm-color-negative);
}

.arm-status-error {
  display: flex;
  font-size: var(--arm-font-size-small);
  padding-right: var(--arm-spacing-small);
  color: var(--arm-color-negative);
}

.left-icon {
  display: flex;
  font-size: var(--arm-font-size-large);
  pointer-events: none;
  color: var(--arm-color-grey-1);
  padding-left: var(--arm-spacing-small);
}

.arm-input-overlay {
  color: var(--arm-color-grey-4);
  font-size: var(--arm-font-size-small);
}

.arm-input-overlay-right {
  display: flex;
  pointer-events: none;
  padding-right: var(--arm-spacing-small);
}

.arm-input-overlay-left {
  display: flex;
  pointer-events: none;
  padding-left: var(--arm-spacing-small);
}

.arm-select-overlay-icon {
  position: absolute;
  right: var(--arm-spacing-medium);
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--arm-font-size-xsmall);
  pointer-events: none;
  color: var(--arm-color-grey-1);
}
