@use "../../theme/variables.scss";
@use "../../theme/mixins.scss";

$arm-header-height: 60px !default;

.arm-header {
  @include mixins.flex-space-between-content;
  @include mixins.space-between-children-horizontal(variables.$spacing-xsmall);

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: $arm-header-height;
  padding: variables.$spacing-small;
  z-index: 2;
  user-select: none;
}
