.arm-auto-resizer {
  --arm-auto-resizer-transition-duration: 300ms;

  overflow: hidden;
  transition-duration: var(--arm-auto-resizer-transition-duration);
}

.arm-auto-resizer[data-animate-horizontal='true'] {
  width: var(--arm-auto-resizer-width);
  transition-property: width;
}

.arm-auto-resizer[data-animate-vertical='true'] {
  height: var(--arm-auto-resizer-height);
  transition-property: height;
}

.arm-auto-resizer[data-animate-vertical='true'][data-animate-horizontal='true'] {
  transition-property: height, width;
}

.arm-auto-resizer-content {
  width: max-content;
  height: max-content;
}
