/* TEXT AREA */

.arm-text-area {
  width: var(--arm-input-width);
  min-height: var(--arm-text-area-height, 8rem);
  padding: 1em;
  background-color: var(--arm-color-white);
  border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
  border: var(--arm-form-border-thickness) solid var(--arm-color-grey-600);
}

.arm-text-area:focus-within {
  border-color: var(--arm-focus-visible-color);
  outline: none;
  box-shadow: 0 0 0 var(--arm-form-border-thickness-highlight) var(--arm-focus-visible-color);
}

.arm-text-area-wrapper[data-disabled='true'] .arm-text-area {
  cursor: not-allowed;
  resize: none;
  border-color: var(--arm-color-grey-300);
  background-color: var(--arm-color-grey-100);
}

/** SIZES **/

.arm-text-area-wrapper[data-size='small'] .arm-text-area {
  min-height: var(--arm-text-area-small-height, 7rem);
  font-size: var(--arm-font-size-xsmall);
}

.arm-text-area-wrapper[data-size='large'] .arm-text-area {
  min-height: var(--arm-text-area-small-height, 9rem);
  font-size: var(--arm-font-size-medium);
}

/** LABEL **/

.arm-text-area-label {
  display: inline-block;
  margin-bottom: var(--arm-spacing-xxxsmall);
  margin-inline-start: var(--arm-spacing-xxxsmall);
}

.arm-text-area-wrapper[data-size='small'] .arm-text-area-label {
  font-size: var(--arm-font-size-xsmall);
}

.arm-text-area-wrapper[data-size='large'] .arm-text-area-label {
  font-size: var(--arm-font-size-medium);
}

/* ERROR */

.arm-text-area-wrapper[data-error] .arm-text-area {
  border-color: var(--arm-color-negative);
}

.arm-text-area-wrapper[data-error] .arm-text-area:focus-within {
  outline-color: var(--arm-color-negative);
}
