.arm-text-area {
  max-width: $input-width-large;

  .arm-input-inner {
    cursor: text;
  }
}

.arm-text-area-textarea {
  min-height: $input-height-large;
  width: 100%;
  appearance: none;
  background-color: transparent;
  resize: none;
  font-family: inherit;
  outline: none;
  border: 0;

  &:focus {
    outline: none;
    border: 0;
  }
}
